# Copy this file to `.secrets` and input the sensitive info. 
# Source this file to generate the Kubernetes Secrets.

cat <<EOF | kubectl -n transfer-ingest-monitor apply -f -
apiVersion: v1
kind: Secret
metadata:
  name: pgpass
  namespace: transfer-ingest-monitor
type: Opaque
data:
  .pgpass: Iy...wo=
EOF