body {
    margin-top: 1rem;
}
h1,h2,h3,h4 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 1.6rem;
    font-variant: all-small-caps;
}
p {
    /* font-size: 20pt; */
    font-family: Georgia, serif;
}

.table {
    font-family: monospace;
    margin-left: 1rem;
}
.table th {
    position: sticky; 
    top: 0;
    background-color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.summary-table th {
    position: relative; 
    background-color: white;
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}
p.breadcrumbs,
p.breadcrumbs a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
h2 a {
    text-decoration: none;
}
