<html>

{{ html_head }}

<body>
    <div class="container">
        <div class="row">
            <h1>Data source: <code>{{ name }}</code>, Gen <code>{%- if gen3 -%}3{%- else %}2{%- endif %}</code>, Night: <code>{{ nite }}</code></h1>
            <hr>
            <p>Last updated: <code>{{ nowstr }}</code></p>
            <p class="breadcrumbs">Nav: <a href="..">Summary page</a> &lt; <a href={%- if gen3 -%}"."{%- else %}"./index_gen2.html"{%- endif %}>{{ name }}</a> &lt; {{ nite }}</p>
            <!-- <h2>Description</h2> -->
            <p>
                <code>Transfer Path</code>: path of the transferred file at NCSA with root <code>{{ storage }}</code>.<br>
                <code>Status</code>: result of the most recent ingestion attempt.<br>
                <code>File Size</code>: measured in bytes.<br>
                <code>Creation Time</code>: UTC the file was created (approximate).<br>
                <code>Discovery Time</code>: UTC the file was discovered for tracking.<br>
                <code>Ingest Time</code>: UTC of the file ingestion at NCSA.<br>
                <code>Delta Time 1</code>: time (in seconds) between Creation and Transfer to NCSA (creation and transfer times are approximate).<br>
                <code>Delta Time 2</code>: time (in seconds) between Transfer and Ingestion to NCSA (ingestion and transfer times are approximate).<br>
                <code>Err Message</code>: Error Message from a failed ingestion attempt (if the most recent attempt failed).<br>
                <br>
            </p>
            {{ data }}
        </div>
        {%- if missing_images -%}
            <h2>Missing images</h2>
            <p>
                The list of images below were recorded as acquired by the data source yet do not appear in the list of transferred files. It is not known whether these files were ever added to the transfer queue or if they were never recorded as files.
            </p>
            <p>
            {{ missing_images }}
            </p>
        {%- endif %}
    </div>
</body>

</html>
