<html>

{{ html_head }}

<body>
    <div class="container">
        <div class="row">
            <h1>Data source: <code>{{ name }}</code>, Gen <code>{%- if gen3 -%}3{%- else %}2{%- endif %}</code></h1>
            <hr>
            <p>Page updated: <code>{{ nowstr }}</code></p>
            <p class="breadcrumbs">Nav: <a href="..">Summary page</a> &lt; {{ name }}</p>
            <!-- <h2>Description</h2> -->
            <p>
                <code>Nite Obs</code>: observing night (tied to UTC-12).<br>
                <code>Last Update</code>: most recent UTC time that Nite Obs was checked.<br>
                <code>N Files</code>: number of files received at NCSA.<br>
                <code>Last Creation</code>: UTC of the most recent file creation.<br>
                <code>Last Discovery</code>: UTC of the most recently tracked file.<br>
                <code>N Ingest</code>: number of files successfully ingested at NCSA.<br>
                <code>N Small</code>: number of uningested files smaller than 10K.<br>
                <code>N Not Fits</code>: number of uningested files that don't end in ".fits".<br>
                <code>N Error</code>: number of uningested ".fits" files that are greater than 10K.<br>
                <code>Last Ingest</code>: UTC of the most recently file ingest.<br><br>
                <b>Note: Creation times are <i>approximate</i>, with better accuracy for Archiver sources and worse accuracy for CCS sources.</b>
            </p>
            {{ data }}
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
</html>
