<html>

{{ html_head }}

<body>
    <div class="container">
        <div class="row">
            <h1>NCSA/LSST Transfer and Ingestion Monitor</h1>
            <p>Page updated: <code>{{ nowstr }}</code></p>
            <p>
                This is the summary page of the Transfer and Ingest Monitor (TIM), displaying information for the past <code>{{ num_days }}</code> nights in which data transfers occurred. <b>Please read <a href="https://github.com/lsst-dm/transfer-ingest-monitor/wiki">the documentation</a> to learn about the sources of truth for the displayed information and how to interpret the data tables.</b>
            </p>
            <p>
                Select an individual data source to view all data available for that source. 
            </p>
            <h2 style="font-variant:all-small-caps">Gen 3</h2>
            {% for stream in streams3 -%}
            <table class="table-striped summary-table">
                <thead>
                    <tr style="border-top:3px solid black;">
                        <th>
                            <b><h2><a href="{{ stream.link }}">{{ stream.name }}</a></h2></b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {%- if stream.data_table|length > 0 %}
                            {{ stream.data_table }}
                            {%- else %}
                            <p>No transfers within the past {{ num_days }} days.</p>
                            {%- endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            
            {%- endfor -%}
            <h2 style="font-variant:all-small-caps">Gen 2</h2>
            {% for stream in streams2 -%}
            <table class="table-striped summary-table">
                <thead>
                    <tr style="border-top:3px solid black;">
                        <th>
                            <b><h2><a href="{{ stream.link }}">{{ stream.name }}</a></h2></b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {%- if stream.data_table|length > 0 %}
                            {{ stream.data_table }}
                            {%- else %}
                            <p>No transfers within the past {{ num_days }} days.</p>
                            {%- endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            
            {%- endfor -%}
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
</html>
