    <table class="table table-striped">
        <thead>
            <tr style="border-top:3px solid black; border-bottom:3px solid black;">
                {% for header in headers -%}
                <th><b>{{ header }}</b></th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records -%}
            <tr>
                {%- if record.linkify %}
                <td><a href="{{ record.link_url }}">{{ record.link_text }}</a></td>
                {%- else %}
                <td>{{ record.link_text }}</td>
                {%- endif %}
                {%- for val in record.vals %}
                <td>{{ val }}</td>
                {%- endfor %}
            </tr>
            {%- endfor %}
        </tbody>
    </table>
